/*start general properties for website*/
@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Medium.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-Book.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "ExpoArabic";
  src: url(../fonts/ExpoArabic/ExpoArabic-SemiBold.ttf);
  font-weight: 900;
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "ExpoArabic" , sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: #A57034;
  color: #fff;
}

*::selection {
  background-color: #A57034;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background: #A57034;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #A57034;
}

.overflowNone {
  overflow: hidden;
}

.btn:focus,
button:focus,
input:focus,
.form-control:focus {
  outline-width: 0px !important;
  outline-color: transparent !important;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 4px;
  border-radius: 4px;
  background-color: #A57034;
  opacity: .5;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #A57034;
  opacity: 1;
}

.overflowNone {
  overflow: hidden;
}

.heading {
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 50px;
  position: relative;
  z-index: 99;
}

.heading::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../images/heading_pattern.png");
  background-size: cover;
  background-repeat: repeat-x;
  -webkit-animation: waveTranslate 10s linear infinite;
          animation: waveTranslate 10s linear infinite;
  left: 0;
  z-index: -1;
}

.heading h4 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 10px 15px;
  background-color: #fff;
  color: #A57034;
  font-size: calc(40px + 1vw);
  font-weight: 900;
  border: 1px solid #A57034;
}

.heading-content {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.heading-content h4 {
  color: #A57034;
  font-size: calc(40px + 1vw);
  font-weight: 700;
  line-height: 2.5rem;
}

.flex-content {
  width: 100% !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
}

.flex-content.center-data {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.btn-shape {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 45px;
  border: none;
  outline: none;
  color: #fff;
}

.btn-shape.btn-dark {
  background-color: #4A291F;
}

.btn-shape.btn-dark:hover {
  background-color: #A57034;
  color: #fff;
}

.btn-shape.btn-light {
  background-color: #A57034;
}

.btn-shape.btn-light:hover {
  background-color: #4A291F;
  color: #fff;
}

.scroll-top-btn {
  width: 40px;
  height: 40px;
  background-color: #A57034;
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0) rotate(360deg);
          transform: scale(0) rotate(360deg);
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.scroll-top-btn i {
  font-size: 15px;
  color: #fff;
}

.scroll-top-btn.active {
  -webkit-transform: scale(1) rotate(0deg);
          transform: scale(1) rotate(0deg);
}

/***************************** Start Animations *****************************/
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
            transform: rotate(0deg) scale3d(0.8, 0.8, 0.8);
  }
  100% {
    -webkit-transform: rotate(360deg) scale3d(1, 1, 1);
            transform: rotate(360deg) scale3d(1, 1, 1);
  }
}

@-webkit-keyframes waveTranslate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes waveTranslate {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

@-webkit-keyframes waveTranslateReverse {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@keyframes waveTranslateReverse {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
            transform: scale3d(0.8, 0.8, 0.8);
    opacity: .5;
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

/*dropdown animation*/
@-webkit-keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
  50% {
    -webkit-transform: rotateX(20deg);
            transform: rotateX(20deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

/*rotation animation*/
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*spinner loading page*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*start the wave animation*/
@-webkit-keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}
@keyframes wave {
  0%,
  100% {
    -webkit-clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}

@-webkit-keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes niceAnimate {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@keyframes translation {
  0% {
    -webkit-transform: translateZ(0%);
            transform: translateZ(0%);
  }
  100% {
    -webkit-transform: translateZ(10%);
            transform: translateZ(10%);
  }
}

@-webkit-keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 10px);
            transform: translate(-10px, 10px);
  }
  40% {
    -webkit-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
  }
  60% {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
  }
  80% {
    -webkit-transform: translate(10px, -10px);
            transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes translateX {
  0%,
  100% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  50% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@-webkit-keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@keyframes translateY {
  0%,
  100% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  50% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

/*flipping*/
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg) translate(-50%, -50%);
            transform: rotateX(80deg) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0) translate(-50%, -50%);
            transform: rotateX(0) translate(-50%, -50%);
    opacity: 1;
  }
}

/*shadow animation*/
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}
@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 35px -4px #00a4e6;
            box-shadow: 0px 0px 35px -4px #00a4e6;
    opacity: 0 !important;
  }
  100% {
    -webkit-box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
            box-shadow: 0px 0px 35px -4px rgba(0, 164, 230, 0);
  }
}

/*start rotate*/
@-webkit-keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}
@keyframes rotate {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
  25% {
    border-top-left-radius: 30%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 70%;
  }
  50% {
    border-top-left-radius: 20%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 30%;
  }
  75% {
    border-top-left-radius: 70%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 50%;
  }
  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 60%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 55%;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateX(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@keyframes clip {
  0% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 52% 46%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(57% 41%, 100% 0, 0 0, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
            clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100%);
  }
}

@-webkit-keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@keyframes sideClip {
  0% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 0, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

@-webkit-keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@keyframes sideClip_2 {
  0% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 70% 53%, 60% 26%);
  }
  50% {
    -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 55% 100%, 31% 100%, 46% 68%, 26% 33%, 11% 10%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
            clip-path: polygon(0 0, 100% 0, 100% 60%, 100% 100%, 55% 100%, 0 100%, 0 59%, 0 31%, 0 14%);
  }
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
            transform: translate(100%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  51% {
    opacity: 1;
  }
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0px;
  z-index: 9999;
}

.navbar .top-nav {
  background: url("../images/nav_pattern.png");
  width: 100%;
  padding: 30px 0px 30px 0px;
  background-size: cover !important;
  background-repeat: no-repeat;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.navbar .top-nav .hamburger {
  display: none;
}

.navbar .top-nav .hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .top-nav .hamburger.active {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .top-nav .hamburger.active .line:nth-child(2) {
  width: 0px;
}

.navbar .top-nav .hamburger.active .line:nth-child(3), .navbar .top-nav .hamburger.active .line:nth-child(1) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navbar .top-nav .hamburger.active .line:nth-child(1) {
  -webkit-transform: translateY(6.5px);
          transform: translateY(6.5px);
}

.navbar .top-nav .hamburger.active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(90deg);
          transform: translateY(-15px) rotate(90deg);
}

.navbar .top-nav .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .top-nav .content .brand-name img {
  width: 280px;
  height: 60px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar .nav-content {
  width: 75%;
  margin: -25px auto 0px !important;
  padding: 10px 20px;
  background-color: #A57034;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .nav-content li {
  position: relative;
  padding: 0px 40px;
}

.navbar .nav-content li::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #D4C5B5;
}

.navbar .nav-content li:last-child::after {
  display: none;
}

.navbar .nav-content li a {
  color: #D4C5B5;
  font-size: 18px;
  font-weight: 500;
  line-height: 60px;
}

.navbar.navbar-fixed-top.scrolled .top-nav {
  padding-top: 5px;
}

.navbar.navbar-fixed-top.scrolled .nav-content {
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(71, 70, 68, 0.3);
          box-shadow: 0px 0px 10px rgba(71, 70, 68, 0.3);
}

footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #4A291F;
}

footer .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .content.flex-end-content {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .content img {
  width: 200px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer .content p {
  color: #D4C5B5;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  margin: 20px 0px;
}

footer .content h5 {
  color: #A57034;
  font-size: 17px;
  font-weight: 700;
  margin: 0px;
  line-height: 2.5rem;
}

footer .content .links li {
  margin-bottom: 20px;
}

footer .content .links li:last-child {
  margin: 0px;
}

footer .content .links li a {
  color: #A57034;
  font-size: 20px;
  font-weight: 600;
}

footer .content .data-content {
  padding-top: 20px;
}

footer .content .data-content .call-num {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: left;
  display: block;
}

footer .content .data-content .socail-meida {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 25px;
}

footer .content .data-content .socail-meida li {
  margin: 0px 15px !important;
}

footer .content .data-content .socail-meida li.mail a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

footer .content .data-content .socail-meida li.social-icon a {
  width: 40px;
  height: 40px;
  background-color: #A57034;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

footer .content .data-content .socail-meida li.social-icon a i {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #fff;
  font-size: 15px;
}

footer .content .data-content .socail-meida li.social-icon a:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

footer .content .data-content .socail-meida li.social-icon a:hover i {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

footer .copyrights {
  text-align: center;
}

footer .copyrights p {
  color: #A57034;
  font-size: 19px;
  font-weight: 500;
  margin: 0px;
}

header {
  width: 100%;
  height: 100vh;
  background: url("../images/header.png");
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
}

.slogan {
  width: 100%;
  padding: 100px 0px 50px 0px;
  background-color: #A57034;
  position: relative;
  text-align: center;
  z-index: 99;
}

.slogan::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 70px;
  background: url("../images/pattern.png");
  top: 0;
  left: 0;
  z-index: 1;
  background-repeat: repeat-x;
  background-size: cover;
  -webkit-animation: waveTranslateReverse 10s linear infinite;
          animation: waveTranslateReverse 10s linear infinite;
}

.slogan p {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 112px;
  margin: 0px;
}

.products {
  width: 100%;
  padding: 50px 0px;
  background-color: #fff;
}

.products .box {
  width: 100%;
}

.products .box .image-content img {
  width: 100%;
  height: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .box .box-image-content img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .box .content {
  width: 100%;
  padding-top: 20px;
}

.products .box .content .accordion .card, .products .box .content .accordion .card-header, .products .box .content .accordion .card-body {
  background-color: transparent;
  border: none !important;
  width: 100%;
  padding: 0px 0px 10px 0px;
}

.products .box .content .accordion .card-header {
  width: 100%;
}

.products .box .content .accordion .card-header .btn-link {
  text-decoration: none;
  color: #474644;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  position: relative;
  z-index: 99;
  text-align: right !important;
}

.products .box .content .accordion .card-header .btn-link::after {
  content: '\f077';
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #474644;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
  font-size: 15px;
}

.products .box .content .accordion .card-header .btn-link:hover {
  text-decoration: none;
}

.products .box .content .accordion .card-header .btn-link.collapsed::after {
  content: '\f078';
}

.products .box .content .accordion .card-body p {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
}

.products .box .content .flex-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 10px;
  border-top: 1px solid #BCBCBC;
}

.products .box .content .flex-content h4 {
  color: #B1B1B1;
  font-size: 17px;
  font-weight: 600;
  margin: 0px;
}

.products .box .content .flex-content p {
  color: #D1D1D1;
  font-size: 20px;
  font-weight: 500;
  margin: 0px;
}

.products .box .content .flex-content .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.products .box .content .flex-content .star li {
  -webkit-margin-end: 8px;
          margin-inline-end: 8px;
}

.products .box .content .flex-content .star li i {
  color: #EBE4E4;
  font-size: 20px;
}

.products .box .content .flex-content .star li.active i {
  color: #FFDB26;
}

.company {
  width: 100%;
  padding: 100px 0px 50px 0px;
  position: relative;
  z-index: 99;
}

.company::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 40px;
  background: url("../images/line_pattern.png");
  background-size: cover;
  background-repeat: repeat-x;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: waveTranslateReverse 10s linear infinite;
          animation: waveTranslateReverse 10s linear infinite;
}

.company .owl-company .item img {
  width: 200px !important;
  height: 200px !important;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.company table th, .company table td {
  font-size: calc(12px + 1vw);
  font-weight: 500;
}

.company table th {
  color: #A57034 !important;
}

.company table td {
  color: #4A291F !important;
}

.offers {
  width: 100%;
  padding: 60px 0px;
  background: url("../images/offers.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.offers .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers .content h4 {
  color: #A57034;
  font-size: calc(40px + 1vw);
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 4.5rem;
}

.offers .content p {
  color: #fff;
  font-size: calc(30px + 1vw);
  font-weight: 500;
  line-height: 2.6rem;
  margin: 0px;
}

.offers .box {
  text-align: center;
  width: 100%;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.offers .box img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.offers .box h5 {
  color: #A57034;
  font-size: calc(20px + 1vw);
  font-weight: 700;
  margin: 20px 0px 0px 0px;
  line-height: 2.5rem;
}

.offers .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.offers .box:hover img {
  -webkit-box-shadow: 0px 0px 10px rgba(71, 70, 68, 0.1);
          box-shadow: 0px 0px 10px rgba(71, 70, 68, 0.1);
}

.story {
  width: 100%;
  padding: 300px 0px 100px 0px;
  background-color: #fff;
}

.story .image-content {
  width: 100%;
  height: 400px;
}

.story .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.story .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.story .content h4 {
  color: #474644;
  font-weight: 900;
  font-size: calc(40px + 1vw);
  margin-bottom: 25px;
  line-height: 3rem;
}

.story .content p {
  color: #B1B1B1;
  font-size: 15px;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: justify;
}

.headind-style {
  width: 100%;
  padding: 300px 0px 50px 0px;
}

.headind-style .content {
  width: 100%;
  text-align: center;
}

.headind-style .content h4 {
  font-size: calc(40px + 1vw);
  font-weight: 900;
  color: #474644;
  margin: 0px;
  line-height: 2.5rem;
}

.banners {
  width: 100%;
  padding: 50px 0px;
}

.banners .image-content {
  width: 100%;
  height: 960px;
}

.banners .image-content img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.parts {
  width: 100%;
  padding: 50px 0px;
}

.parts .box {
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.parts .box .image-content {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.parts .box .image-content img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.parts .box .content {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

.parts .box .content h4 {
  color: #474644;
  font-size: 22px;
  font-weight: 700;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.parts .box:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.form-data {
  width: 100%;
  padding: 50px 0px;
}

.form-data .from-content .form-group .label-data {
  color: #A57034;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.form-data .from-content .form-group .form-control {
  border: 1px solid #707070;
  border-radius: 0px;
  width: 100%;
  resize: none;
  height: 60px;
  background-color: #fff;
}

.form-data .from-content .form-group .form-control.textarea {
  height: 120px;
}
/*# sourceMappingURL=style.css.map */